In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("AB_NYC_2019.csv")
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [5]:
df.price.describe()

count    48895.000000
mean       152.720687
std        240.154170
min          0.000000
25%         69.000000
50%        106.000000
75%        175.000000
max      10000.000000
Name: price, dtype: float64

In [6]:
min_threshold, max_threshold = df.price.quantile([0.01,0.999])
min_threshold, max_threshold

(30.0, 3000.0)

In [8]:
df[df.price<min_threshold]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
957,375249,Enjoy Staten Island Hospitality,1887999,Rimma & Jim,Staten Island,Graniteville,40.62109,-74.16534,Private room,20,3,80,2019-05-26,0.92,1,226
2675,1428154,"Central, Peaceful Semi-Private Room",5912572,Tangier,Brooklyn,Flatbush,40.63899,-73.95177,Shared room,29,2,5,2014-10-20,0.07,1,321
2860,1620248,Large furnished 2 bedrooms- - 30 days Minimum,2196224,Sally,Manhattan,East Village,40.73051,-73.98140,Entire home/apt,10,30,0,NaN,NaN,4,137
3020,1767037,Small Cozy Room Wifi & AC near JFK,9284163,Antonio,Queens,Woodhaven,40.68968,-73.85219,Private room,29,2,386,2019-06-19,5.53,3,50
3918,2431607,"Bright, Airy Room Share for 2",4973668,Gloria,Brooklyn,Bedford-Stuyvesant,40.68642,-73.93440,Shared room,25,5,76,2019-06-06,1.22,3,258
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48486,36280646,"Cable and wfi, L/G included.",272872092,Chris,Queens,Forest Hills,40.73657,-73.85088,Entire home/apt,16,9,1,2019-07-07,1.00,1,322
48647,36354776,Cozy bedroom in diverse neighborhood near JFK,273393150,Liza,Queens,Richmond Hill,40.68639,-73.81847,Private room,28,2,0,NaN,NaN,1,24
48832,36450814,FLATBUSH HANG OUT AND GO,267223765,Jarmel,Brooklyn,Flatbush,40.64922,-73.96078,Shared room,20,1,0,NaN,NaN,3,363
48867,36473044,The place you were dreaming for.(only for guys),261338177,Diana,Brooklyn,Gravesend,40.59080,-73.97116,Shared room,25,1,0,NaN,NaN,6,338
48868,36473253,Heaven for you(only for guy),261338177,Diana,Brooklyn,Gravesend,40.59118,-73.97119,Shared room,25,7,0,NaN,NaN,6,365

In [9]:
df2 = df[(df.price>min_threshold)&(df.price<max_threshold)]
df2.shape

(48183, 16)

In [12]:
df2.sample(5) # random choose 5 rows

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
9547,7330488,Charming Classic UWS Bedroom & Balcony,18008678,Clayton,Manhattan,Upper West Side,40.80243,-73.97060,Private room,100,2,33,2018-04-20,0.68,2,0
17389,13714244,Cozy Little Italy Apartment,80107649,Haley,Manhattan,Lower East Side,40.71880,-73.99458,Private room,99,3,10,2017-01-01,0.28,1,0
124,28321,Large 1 BR in a 3 BR Brooklyn apt. next to Q ...,65091,Kay,Brooklyn,Prospect-Lefferts Gardens,40.65593,-73.96053,Private room,75,2,9,2018-10-05,0.08,1,324
5111,3677769,Beautiful Large Sunny Bedroom,18681479,Pamela,Queens,Sunnyside,40.74189,-73.92375,Private room,75,2,111,2019-06-24,1.89,1,348
33607,26598239,"Cozy, Clean Private Room in Clinton Hill BK",168815258,Maggie,Brooklyn,Clinton Hill,40.69322,-73.96655,Private room,55,3,2,2018-07-22,0.16,1,0

In [14]:
df.sample(frac=0.01) # fraction less than 0.01

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
14310,11138823,A beautiful Cozy 1 BR Apartment.,57885474,Shully'S,Bronx,Wakefield,40.89694,-73.86055,Entire home/apt,90,2,199,2019-06-21,5.00,2,319
716,263005,2 bedroom apt in charming brick townhouse,1380060,Marisa And Colin,Brooklyn,Fort Greene,40.69778,-73.97676,Entire home/apt,145,3,110,2019-06-02,1.20,1,15
40932,31835627,2 minutes to subway Room with Terrace and sofa,152895936,Matsuko,Queens,Elmhurst,40.73538,-73.87892,Private room,34,28,0,NaN,NaN,1,0
11170,8650854,Beautiful and Large Private Room 1Block from t...,21508828,Nguyen,Manhattan,Washington Heights,40.85289,-73.93508,Private room,64,1,16,2019-01-02,0.36,2,249
13425,10066875,NoHo 2 Bedroom Loft,50760546,CRNY Monthly Rentals,Manhattan,NoHo,40.72888,-73.99199,Entire home/apt,299,30,1,2017-04-03,0.04,31,160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19170,15248948,Spacious quiet second floor brownstone apartment,22129681,Nicola,Brooklyn,Carroll Gardens,40.68048,-73.99322,Entire home/apt,130,4,8,2018-09-08,0.24,1,0
2031,903972,Great Bedroom in Manhattan,4734398,Jj,Manhattan,Harlem,40.82085,-73.94025,Private room,49,1,607,2019-06-21,7.75,3,293
7517,5623799,Sunny lofty BR on Express A/D line,9311147,Esther,Manhattan,Harlem,40.82417,-73.94496,Private room,49,1,0,NaN,NaN,1,0
5997,4392066,one room bushwick,5605897,Sarah,Brooklyn,Williamsburg,40.70903,-73.93940,Private room,100,1,0,NaN,NaN,1,0
26945,21351641,WALK FROM TIME SQUARE FROM THIS HELLS KITCHEN APT,21410583,Brianne,Manhattan,Hell's Kitchen,40.76602,-73.98795,Private room,160,3,77,2019-01-02,3.77,1,88

In [15]:
df2.price.describe()

count    48183.000000
mean       148.772036
std        153.594795
min         31.000000
25%         70.000000
50%        110.000000
75%        179.000000
max       2999.000000
Name: price, dtype: float64